* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Federal-Blue: #0D1457;
    --Battleship-Gray: #979B8D;
    --Jonquil: #F9C80E;
}

p {
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}